<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Add a Stock</title>
<style media="screen">
	body{
	text-align: center!important;
	}
</style>
</head>
<body>
<h1>Add any stock to the Watchlist</h1>
<br>
	<h2>Select the Stock</h2>
	<form action="/addstock" method="post">
		<select class="" name="stockSelected">
		<% for(var i = 1; i<dataFromResponse.length; i++) { %>
			<option value= <%= dataFromResponse[i].symbol %> >
			<%= dataFromResponse[i].symbol %>
			</option>
		<% } %>
		</select>		
		<button type="submit"
				name="button">
		Add Stock
		</button>
	</form>
</body>
</html>
