<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style media="screen">
	body{
	text-align: center!important;
	}
</style>    
</head>
<body>
    <br><br><br>
    <h1>Please Register</h1>
    <br>
    <form action="/register" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="name" id="name" placeholder="Enter your name" required autofocus>
        <br><br>
        <label for="email">E-mail Address</label><br>
        <input type="text" name="email" id="email" placeholder="username@example.com" required autofocus>
        <br><br>
        <label class="sr-only" for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <br><br>
        <button type="submit">Register</button><br>
        <a class="btn btn-link" href="/login">Login</a>
    </form>
</body>
</html>